//Fonts

//$fontName : '';
//$fontFile : '';
//$fontWeight : 400;
//$fontStyle : normal;
//$fontExtensions : '';
//@include font-face($fontName, $fontFile, $fontWeight, $fontStyle, $fontExtensions);

$fontName1 : 'SSP';
$fontFile1 : '../fonts/SourceSansPro-ExtraLight';
$fontWeight1 : 200;
$fontStyle1 : normal;
$fontExtensions1 : woff2; //no quotes
@include font-face($fontName1, $fontFile1, $fontWeight1, $fontStyle1, $fontExtensions1);
