// UNCOMMENT if not including Bootstrap SASS in the process
/*
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
*/
$screen-ipad-max: 1024px;
$screen-hd-min: 1340px;
$screen-fhd-min: 1920px;

@mixin breakpoint($point) {
  @if $point == xs {
    @media screen and (max-width: $screen-xs-max) { @content; }
  }
  @if $point == xsl {
    @media screen and (max-width: $screen-xs-max) and (orientation: landscape) { @content; }
  }
  @if $point == xsp {
    @media screen and (max-width: $screen-xs-max) and (orientation: portrait) { @content; }
  }
  @else if $point == sm {
    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) { @content; }
  }
  @else if $point == sml {
    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) and (orientation: landscape) { @content; }
  }
  @else if $point == smp {
    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) and (orientation: portrait){ @content; }
  }
  @else if $point == sm-down {
    @media screen and (max-width: $screen-sm-max) { @content; }
  }
  @else if $point == smp-down {
    @media screen and (max-width: $screen-sm-min) { @content; }
  }
  @else if $point == ipad-down {
    @media screen and (max-width: $screen-ipad-max) { @content; }
  }
  @else if $point == md {
    @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) { @content; }
  }
  @else if $point == mdl {
    @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) and (orientation: landscape) { @content; }
  }
  @else if $point == md-up {
    @media screen and (min-width: $screen-md-min) { @content; }
  }
  @else if $point == md-down {
    @media screen and (max-width: $screen-md-max) { @content; }
  }
  @else if $point == lg {
    @media screen and (min-width: $screen-lg-min) { @content; }
  }
  @else if $point == lg-up {
    @media screen and (min-width: $screen-hd-min) { @content; }
  }
  @else if $point == fhd {
    @media screen and (min-width: $screen-fhd-min) { @content; }
  }
}

//font-face mixin

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}
