.modal-backdrop.fade {
  transition:opacity 0.25s $easeInOutQuad;
  &.in {
    opacity:0.8;
  }
}

.modal.fade {
  .modal-dialog {
    transform:translate(0,0) scale(0.9);
    opacity:0;
    transition: opacity .25s $easeInOutQuad, transform .25s $easeInOutQuad;
  }
  &.in {
    .modal-dialog {
      transform: scale(1);
      opacity:1;
    }
  }
}

.carousel.bgmode {
  height: 100%;
  .carousel-inner {
    height: 100%;
  }
  .item {
    background-size:cover;
    background-position:center center;
    height: 100%;
    > img {
      display:none;
    }
  }
}

.carousel-indicators li {
  margin:1px 0.25em;
  border: 1px solid #aeadad;
  background-color: #aeadad;
  width:12px;
  height:12px;
  &.active {
    margin:1px 0.25em;
  }
}

.carousel {
  .carousel-caption {
    @include breakpoint(md-up) {
      left:10%;
      right:10%;
    }
    @include breakpoint(sm-down) {
      left:5%;
      right:5%;
    }
  }
  .item-title {
    font-size: 50px;
    font-weight: 700;
    line-height:1;
    margin-bottom:0;
    @include breakpoint(sm) {
      font-size:35px;
    }
    @include breakpoint(xs) {
      font-size:26px;
    }
  }
  .item-blurb {
    font-size:25px;
    @include breakpoint(sm) {
      font-size:20px;
    }
    @include breakpoint(xs) {
      font-size:16px;
    }
  }
  .item-cta {
    font-size: 30px;
    font-weight: 700;
    color:#fff;
    margin-top:0.4em;
    @include breakpoint(sm) {
      font-size: 25px;
    }
    @include breakpoint(xs) {
      font-size: 16px;
    }
  }
}


.list-inline.piped {
  > li {
    &:not(:last-child) {
      border-right:2px solid;
    }
  }
}

.form-control {
  // border-color:$cyan;
  // color:$cyan;
}

/*
inspired from http://codepen.io/Rowno/pen/Afykb
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-duration: 1s;
  transition-property: opacity;
  transition-timing-function: $easeInOutQuad;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

// Burger parts
//
// (---) top    -> &::before
// [---] middle -> &
// (---) bottom -> &::after


// Vendor prefixes
$sass-burger-add-vendor-prefixes: true !default;

// Burger
@mixin burger($width: 30px, $height: 5px, $gutter: 3px, $color: #000, $border-radius: 0, $transition-duration: .3s) {
    $burger-height: $height !global;
    $burger-gutter: $gutter !global;

    position: relative;
    margin-top: $height + $gutter;
    margin-bottom: $height + $gutter;

    @if $sass-burger-add-vendor-prefixes {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
    user-select: none;

    &, &::before, &::after {
      display: block;
      width: $width;
      height: $height;
      background-color: $color;
      @if $border-radius != 0 {
          border-radius: $border-radius;
      }

      @if $sass-burger-add-vendor-prefixes {
          -webkit-transition-property: background-color, -webkit-transform;
          -moz-transition-property: background-color, -moz-transform;
          -o-transition-property: background-color, -o-transform;
      }
      transition-property: background-color, transform;

      @if $sass-burger-add-vendor-prefixes {
          -webkit-transition-duration: $transition-duration;
          -moz-transition-duration: $transition-duration;
          -o-transition-duration: $transition-duration;
      }
      transition-duration: $transition-duration;
    }

    &::before, &::after {
        position: absolute;
        content: "";
    }

    &::before {
        top: -($height + $gutter);
    }

    &::after {
        top: $height + $gutter;
    }
}


// Select parts of the burger
@mixin burger-parts {
    &, &::before, &::after {
        @content;
    }
}

@mixin burger-top {
    &::before {
        @content;
    }
}

@mixin burger-middle {
    & {
        @content;
    }
}

@mixin burger-bottom {
    &::after {
        @content;
    }
}


// Burger animations
@mixin burger-to-cross($color: auto) {
    & {
        background-color: transparent;
    }
    @if ($color != auto) {
        &::before, &::after {
            background-color: $color;
        }
    }
    &::before {
        @if $sass-burger-add-vendor-prefixes {
            -webkit-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
            -moz-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
            -ms-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
            -o-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
        }
        transform: translateY($burger-gutter + $burger-height) rotate(45deg);
    }
    &::after {
        @if $sass-burger-add-vendor-prefixes {
            -webkit-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
            -moz-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
            -ms-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
            -o-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
        }
        transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
    }
}


.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
